.gltfTest {
  background: #000;
  color: #fff;

  width: 100vw;
  padding: 0 2vw;

  article {
    padding: 3vw 5vw 0;
  }

  section {
    padding: 14vw 0 14vw;
  }
  h1 {
    font-size: 5vw;
    font-weight: 400;
  }
  p,
  section.text {
    max-width: 400px;
    font-size: 16px;
  }
}
